/* width */
::-webkit-scrollbar {
  width: 4px;
  background-color: #888;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
	display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbb; 
  border-radius: 20px;
  opacity: 0.2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}