* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
body {
    background: #fff;
    min-height: 100vh;
    font-family: "Helvetica";
    position: relative;
    height: 1000px;
}
*/
.btn {
    display: flex;
    width: 20px;
    height: 20px;
}

.btn_wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    z-index: 2;
    display: flex;
    align-items: center;
}


.translate {
    padding-top: 5px;
    position: fixed;
    top: 20px;
    right: 100px;
    height: 70px;
    width: 70px;
    z-index: 2;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.copy__right {
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    z-index: 2;
    font-size: 0.8rem;
    /* font-weight: 700; */
}

.profile__download {
    position: absolute;
    bottom: 5%;
    left: 50%;
    color: white;
    z-index: 2;
    font-size: 0.8rem;
    /* font-weight: 700; */
    width: 60px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
}

.contact_us {
    display: flex;
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #111;
    z-index: 2;
    padding: 45px 45px;
    border: 2px solid #fff;
    font-weight: 700;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /*cursor: pointer;*/
}

.contact_us_text {
    text-align: center;
}

.contact_us:hover {
    background-color: #fff;
    color: #171717;
    transition: 1s;
    /*transform: scaleX(1.8);*/
    width: 240px;
    border-radius: 0;
    height: 50px;
    background-color: transparent;
    color: #fff;
    display: flex;
}

.logo__new {
    position: fixed;
    top: 25px;
    left: 0px;
    padding-left: 50px;
    z-index: 2;
    display: flex;
    width: 70px;
    height: 70px;
}

#ara__logo__new {
    right: 144px;
}

.btn span {
    width: 30px;
    height: 3px;
    background: #fff;
    display: flex;
    position: absolute;
    transition: 0.7s;
}

.btn, .logo {
    position: fixed;
}

.btn span:nth-child(1) {
    top: 20%;
}
.btn span:nth-child(2) {
    top: 80%;
}

.btn.is-active span {
    background: #fff;
}

.btn.is-active span:nth-child(1) {
    top: 50%;
    transform: rotate(-45deg);
}

.btn.is-active span:nth-child(2) {
    top: 50%;
    transform: rotate(45deg);
}

.menu {
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px;
    z-index: 1;
    transition: 0.7s;
    opacity: 0;
    visibility: hidden;
}

.menu__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.menu__item:not(:last-child) {
    margin-bottom: 30px;
}

.menu__link {
    position: relative;
    display: inline-flex;
    font-weight: bold;
    font-size: 30px;
    color: #17202a;
    text-decoration: none;
    text-transform: uppercase;
}
@media (max-width: 1199px) {
  .menu__link {
    font-size: 30px;
     } }
@media (max-width: 991px) {
  .menu__link {
    font-size: 30px;
     } }
@media (max-width: 767px) {
  .menu__link {
    font-size: 23px;
     } }
@media (max-width: 575px) {
  .menu__link {
    font-size: 18px;
     } }
@media (max-width: 479px) {
  .menu__link {
    font-size: 13px;
     } }
@media (max-width: 383px) {
  .menu__link {
    font-size: 10px;
     } }

.menu__link:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 5px;
    display: inline-flex;
    background: #ccc;
    transition: 0.7s;
}

.menu.is-active {
    opacity: 0.8;
    visibility: visible;
}

.menu__link:hover:after {
    width: 100%;
}

.logo__pic {
    width: 5vw;
    max-width: 150px;
    min-width: 95px;
}
@media (max-width: 1199px) {
  .logo__pic {
    min-width: 90px;
    } 
}
@media (max-width: 991px) {
  .logo__pic {
    min-width: 85px;
    } 
}
@media (max-width: 767px) {
  .logo__pic {
    min-width: 80px;
    } 
}
@media (max-width: 575px) {
  .logo__pic {
    min-width: 75px;
    } 
}
@media (max-width: 479px) {
  .logo__pic {
    min-width: 70px;
    } 
}
@media (max-width: 383px) {
  .logo__pic {
    min-width: 70px;
    } 
}

.pic {
    max-width: 100%;
}

.navbar_click_area {
    height: 30px; 
    width: 30px; 
    border-radius: 30px; 
    background-color: transparent; 
    margin: 5px 0;
    display: flex;
    justify-content: center;
}

.ara__lang {
    width: 100px;
}

.ara__learn {
    display: flex;
    justify-content: center;
}

.ara_arrow {
    margin-right: -100px;
}

.ara {
    text-align: right;
}

.data_section {
    width: 2px;
}