.page-main {
    display: flex;
    flex-direction: column;
    background-color: #fdfefe; }
  
  .page-main.layout {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    flex-shrink: 0; }
  
  .page-section1__section1 {
    display: flex;
    flex-direction: column; }
  
  .page-section1__section1.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: 100vh; }
  
  .page-section1__block2 {
    display: flex;
    flex-direction: column;
    background: var(--src) center center/cover no-repeat;
    justify-content: flex-end; }
  
  .page-section1__block2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: 100vh; }
  
  .page-section1__flex {
    display: flex;
    flex-direction: column; }
  
  .page-section1__flex.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 80.67%;
    margin: 66px auto; }
    @media (max-width: 1199px) {
      .page-section1__flex.layout {
        width: 84.77%;
        margin: 57px auto; } }
    @media (max-width: 991px) {
      .page-section1__flex.layout {
        width: 88.12%;
        margin: 47px auto; } }
    @media (max-width: 767px) {
      .page-section1__flex.layout {
        width: 80%; /*90.82*/
        margin: 38px auto; } }
    @media (max-width: 575px) {
      .page-section1__flex.layout {
        width: 80%; /*92.95*/
        margin: 33px auto; } }
    @media (max-width: 479px) {
      .page-section1__flex.layout {
        width: 80%; /*94.62*/
        margin: 29px auto; } }
    @media (max-width: 383px) {
      .page-section1__flex.layout {
        width: 80%; /*95.91*/
        margin: 26px auto; } }
  
  .page-section1__hero-title2 {
    font: 700 80px/1.2 "Tajawal", "Helvetica", "Roboto", Arial, serif;
    color: white;
    letter-spacing: 0px; }
    @media (max-width: 1199px) {
      .page-section1__hero-title2 {
        font-size: 70px;
        text-align: left; } }
    @media (max-width: 991px) {
      .page-section1__hero-title2 {
        font-size: 58px; } }
    @media (max-width: 767px) {
      .page-section1__hero-title2 {
        font-size: 49px; } }
    @media (max-width: 575px) {
      .page-section1__hero-title2 {
        font-size: 44px; } }
    @media (max-width: 479px) {
      .page-section1__hero-title2 {
        font-size: 39px; } }
    @media (max-width: 383px) {
      .page-section1__hero-title2 {
        font-size: 36px; } }
  
  .page-section1__hero-title2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    /*width: 95.1%;
    margin: 389px 4.9% 0px 0%;*/ }
    @media (max-width: 1199px) {
      .page-section1__hero-title2.layout {
        /*margin: 301px 4.9% 0px 0%;*/ } }
    @media (max-width: 991px) {
      .page-section1__hero-title2.layout {
        margin: 205px 4.9% 0px 0%; } }
    @media (max-width: 767px) {
      .page-section1__hero-title2.layout {
        margin: 123px 4.9% 0px 0%; } }
    @media (max-width: 575px) {
      .page-section1__hero-title2.layout {
        margin: 82px 4.9% 0px 0%; } }
    @media (max-width: 479px) {
      .page-section1__hero-title2.layout {
        margin: 41px 4.9% 0px 0%; } }
    @media (max-width: 383px) {
      .page-section1__hero-title2.layout {
        margin: 13px 4.9% 0px 0%; } }
  
  .page-section1__hero-title1 {
    font: 35px/1.2 "Tajawal", "Helvetica", "Roboto", Arial, serif;
    color: white;
    letter-spacing: 0px; }
    @media (max-width: 1199px) {
      .page-section1__hero-title1 {
        font-size: 32px;
        text-align: left; } }
    @media (max-width: 991px) {
      .page-section1__hero-title1 {
        font-size: 28px; } }
    @media (max-width: 767px) {
      .page-section1__hero-title1 {
        font-size: 25px; } }
    @media (max-width: 575px) {
      .page-section1__hero-title1 {
        font-size: 23px; } }
    @media (max-width: 479px) {
      .page-section1__hero-title1 {
        font-size: 21px; } }
    @media (max-width: 383px) {
      .page-section1__hero-title1 {
        font-size: 20px; } }
  
  .page-section1__hero-title1.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    /*width: 38.93%;
    margin: 3px 61.07% 0px 0%;*/ }
    @media (max-width: 1199px) {
      .page-section1__hero-title1.layout {
        /*margin: 5px 61.07% 0px 0%;*/ } }
  
  .page-section2__section2 {
    display: flex;
    flex-direction: column; }
  
  .page-section2__section2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    min-height: 100vh; }
  
  .page-section2__flex1 {
    display: flex;
    flex-direction: column; }
  
  .page-section2__flex1.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 80.67%;
    margin: 40px auto; }
    @media (max-width: 1199px) {
      .page-section2__flex1.layout {
        width: 84.77%;
        margin: 35px auto; } }
    @media (max-width: 991px) {
      .page-section2__flex1.layout {
        width: 88.12%;
        margin: 29px auto; } }
    @media (max-width: 767px) {
      .page-section2__flex1.layout {
        width: 80%; /*90.82*/
        margin: 24px auto; } }
    @media (max-width: 575px) {
      .page-section2__flex1.layout {
        width: 80%; /*92.95*/
        margin: 21px auto; } }
    @media (max-width: 479px) {
      .page-section2__flex1.layout {
        width: 80%; /*94.62*/
        margin: 19px auto; } }
    @media (max-width: 383px) {
      .page-section2__flex1.layout {
        width: 80%; /*95.91*/
        margin: 17px auto; } }
  
  .page-section2__hero-title {
    font: 700 70px/1.2 "Tajawal", "Helvetica", "Roboto", Arial, serif;
    color: #17202a;
    letter-spacing: 0px; }
    @media (max-width: 1199px) {
      .page-section2__hero-title {
        font-size: 61px;
        text-align: left; } }
    @media (max-width: 991px) {
      .page-section2__hero-title {
        font-size: 52px; } }
    @media (max-width: 767px) {
      .page-section2__hero-title {
        font-size: 43px; } }
    @media (max-width: 575px) {
      .page-section2__hero-title {
        font-size: 39px; } }
    @media (max-width: 479px) {
      .page-section2__hero-title {
        font-size: 35px; } }
    @media (max-width: 383px) {
      .page-section2__hero-title {
        font-size: 32px; } }
  
  .page-section2__hero-title.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    /*width: 53.45%;
    margin: 28px 46.55% 0px 0%;*/ }
    @media (max-width: 1199px) {
      .page-section2__hero-title.layout {
        /*margin: 25px 46.55% 0px 0%;*/ } }
    @media (max-width: 991px) {
      .page-section2__hero-title.layout {
        /*margin: 21px 46.55% 0px 0%;*/ } }
    @media (max-width: 767px) {
      .page-section2__hero-title.layout {
        /* margin: 18px 46.55% 0px 0%;  */
      } }
    @media (max-width: 575px) {
      .page-section2__hero-title.layout {
        /* margin: 16px 46.55% 0px 0%;  */
      } }
    @media (max-width: 479px) {
      .page-section2__hero-title.layout {
        /* margin: 14px 46.55% 0px 0%;  */
      } }
    @media (max-width: 383px) {
      .page-section2__hero-title.layout {
        /* margin: 13px 46.55% 0px 0%;  */
      } }

        
  .form-section2__hero-title {
    font: 700 70px/1.2 "Tajawal", "Helvetica", "Roboto", Arial, serif;
    margin-bottom: 20px;
    color: #17202a;
    letter-spacing: 0px; }
    @media (max-width: 1199px) {
      .form-section2__hero-title {
        font-size: 61px;
        text-align: left; } }
    @media (max-width: 991px) {
      .form-section2__hero-title {
        font-size: 52px; } }
    @media (max-width: 767px) {
      .form-section2__hero-title {
        font-size: 43px; } }
    @media (max-width: 575px) {
      .form-section2__hero-title {
        font-size: 39px; } }
    @media (max-width: 479px) {
      .form-section2__hero-title {
        font-size: 35px; } }
    @media (max-width: 383px) {
      .form-section2__hero-title {
        font-size: 32px; } }
  
  .form-section2__hero-title.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    /*width: 53.45%;
    margin: 28px 46.55% 0px 0%;*/ }
    @media (max-width: 1199px) {
      .form-section2__hero-title.layout {
        /*margin: 25px 46.55% 0px 0%;*/ } }
    @media (max-width: 991px) {
      .form-section2__hero-title.layout {
        /*margin: 21px 46.55% 0px 0%;*/ } }
    @media (max-width: 767px) {
      .form-section2__hero-title.layout {
        margin: 18px 0 0px 0%; } }
    @media (max-width: 575px) {
      .form-section2__hero-title.layout {
        margin: 16px 0 0px 0%; } }
    @media (max-width: 479px) {
      .form-section2__hero-title.layout {
        margin: 14px 0 0px 0%; } }
    @media (max-width: 383px) {
      .form-section2__hero-title.layout {
        margin: 13px 0 0px 0%; } }
  
  .page-section2__medium-title {
    font: 25px/1.2 "Tajawal", "Helvetica", "Roboto", Arial, serif;
    margin-bottom: 70px;
    color: #17202a;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: -0.6px; }
    @media (max-width: 1199px) {
      .page-section2__medium-title {
        font-size: 23px;
        text-align: justify; } }
    @media (max-width: 991px) {
      .page-section2__medium-title {
        font-size: 21px; } }
    @media (max-width: 767px) {
      .page-section2__medium-title {
        font-size: 19px; } }
    @media (max-width: 575px) {
      .page-section2__medium-title {
        font-size: 18px; } }
    @media (max-width: 479px) {
      .page-section2__medium-title {
        font-size: 17px; } }
  
  .page-section2__medium-title.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    line-height: 1.4;
    margin: 33px 8px 60px 0px; }
    @media (max-width: 1199px) {
      .page-section2__medium-title.layout {
        margin: 29px 7px 55px 0px; } }
    @media (max-width: 991px) {
      .page-section2__medium-title.layout {
        margin: 24px 6px 50px 0px; } }
    @media (max-width: 767px) {
      .page-section2__medium-title.layout {
        margin: 20px 5px 45px 0px; } }
    @media (max-width: 575px) {
      .page-section2__medium-title.layout {
        margin: 18px 5px 40px 0px; } }
    @media (max-width: 479px) {
      .page-section2__medium-title.layout {
        margin: 16px 5px 35px 0px; } }
    @media (max-width: 383px) {
      .page-section2__medium-title.layout {
        margin: 15px 5px 30px 0px; } }
  
  .page-section2__flex2 {
    display: flex; }
    @media (max-width: 1199px) {
      .page-section2__flex2 {
        flex-wrap: wrap;
        row-gap: 16px; } }
  
  .page-section2__flex2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 29px 0px 60px; }
    @media (max-width: 1199px) {
      .page-section2__flex2.layout {
        margin: 25px 0px 55px; } }
    @media (max-width: 991px) {
      .page-section2__flex2.layout {
        margin: 22px 0px 50px; } }
    @media (max-width: 767px) {
      .page-section2__flex2.layout {
        margin: 18px 0px 45px; } }
    @media (max-width: 575px) {
      .page-section2__flex2.layout {
        margin: 17px 0px 40px; } }
    @media (max-width: 479px) {
      .page-section2__flex2.layout {
        margin: 15px 0px 35px; } }
    @media (max-width: 383px) {
      .page-section2__flex2.layout {
        margin: 14px 0px 30px; } }
  
  .page-section2__flex2-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 530px;
    justify-content: center; }
    @media (max-width: 1199px) {
      .page-section2__flex2-item {
        flex: 0 0 100%; } }
  
  .page-section2__image1 {
    width: 100%;
    height: auto;
    vertical-align: top;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: center top;
    object-position: center top; }
  
  .page-section2__image1.layout {
    position: relative; }
  
  .page-section2__flex2-spacer {
    flex: 0 1 34px; }
    @media (max-width: 1199px) {
      .page-section2__flex2-spacer {
        display: none; } }
  
  @media (max-width: 1199px) {
    .page-section2__medium-title1-box {
      align-items: flex-start; } }
  
  @media (max-width: 991px) {
    .page-section2__medium-title1-box {
      align-items: flex-start; } }
  
  @media (max-width: 767px) {
    .page-section2__medium-title1-box {
      align-items: flex-start; } }
  
  @media (max-width: 575px) {
    .page-section2__medium-title1-box {
      align-items: flex-start; } }
  
  @media (max-width: 479px) {
    .page-section2__medium-title1-box {
      align-items: flex-start; } }
  
  .page-section2__medium-title1-box.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .page-section2__medium-title1 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: 25px/1.2 "Tajawal", "Helvetica", "Roboto", Arial, serif;
    color: #17202a;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: -0.30000000000000004px;
    white-space: pre-wrap; }
    @media (max-width: 1199px) {
      .page-section2__medium-title1 {
        font-size: 23px;
        text-align: justify; } }
    @media (max-width: 991px) {
      .page-section2__medium-title1 {
        font-size: 21px; } }
    @media (max-width: 767px) {
      .page-section2__medium-title1 {
        font-size: 19px; } }
    @media (max-width: 575px) {
      .page-section2__medium-title1 {
        font-size: 18px; } }
    @media (max-width: 479px) {
      .page-section2__medium-title1 {
        font-size: 17px; } }
  
  .page-section2__flex3 {
    display: flex; }
    @media (max-width: 1199px) {
      .page-section2__flex3 {
        flex-wrap: wrap;
        row-gap: 16px; } }
  
  .page-section2__flex3.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 29px 0px 60px; }
    @media (max-width: 1199px) {
      .page-section2__flex3.layout {
        margin: 25px 0px 55px; } }
    @media (max-width: 991px) {
      .page-section2__flex3.layout {
        margin: 22px 0px 50px; } }
    @media (max-width: 767px) {
      .page-section2__flex3.layout {
        margin: 18px 0px 45px; } }
    @media (max-width: 575px) {
      .page-section2__flex3.layout {
        margin: 17px 0px 40px; } }
    @media (max-width: 479px) {
      .page-section2__flex3.layout {
        margin: 15px 0px 35px; } }
    @media (max-width: 383px) {
      .page-section2__flex3.layout {
        margin: 14px 0px 30px; } }
  
  .page-section2__flex3-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 530px;
    justify-content: center; }
    @media (max-width: 1199px) {
      .page-section2__flex3-item {
        flex: 0 0 100%; } }
  
  .page-section2__medium-title2 {
    font: 25px/1.2 "Tajawal", "Helvetica", "Roboto", Arial, serif;
    color: #17202a;
    text-align: justify;
    line-height: 1.4;
    letter-spacing: -0.30000000000000004px; }
    @media (max-width: 1199px) {
      .page-section2__medium-title2 {
        font-size: 23px;
        text-align: justify; } }
    @media (max-width: 991px) {
      .page-section2__medium-title2 {
        font-size: 21px; } }
    @media (max-width: 767px) {
      .page-section2__medium-title2 {
        font-size: 19px; } }
    @media (max-width: 575px) {
      .page-section2__medium-title2 {
        font-size: 18px; } }
    @media (max-width: 479px) {
      .page-section2__medium-title2 {
        font-size: 17px; } }
  
  .page-section2__medium-title2.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
    .page-section2__medium-title1 {
      font: 25px/1.2 "Tajawal", "Helvetica", "Roboto", Arial, serif;
      color: #17202a;
      text-align: justify;
      line-height: 1.4;
      letter-spacing: -0.30000000000000004px; }
      @media (max-width: 1199px) {
        .page-section2__medium-title1 {
          font-size: 23px;
          text-align: justify; } }
      @media (max-width: 991px) {
        .page-section2__medium-title1 {
          font-size: 21px; } }
      @media (max-width: 767px) {
        .page-section2__medium-title1 {
          font-size: 19px; } }
      @media (max-width: 575px) {
        .page-section2__medium-title1 {
          font-size: 18px; } }
      @media (max-width: 479px) {
        .page-section2__medium-title1 {
          font-size: 17px; } }
    
    .page-section2__medium-title1.layout {
      position: relative;
      height: -webkit-min-content;
      height: -moz-min-content;
      height: min-content; }
  
  .page-section2__flex3-spacer {
    flex: 0 1 34px; }
    @media (max-width: 1199px) {
      .page-section2__flex3-spacer {
        display: none; } }
  
  .page-section3__section3 {
    display: flex;
    flex-direction: column; }
  
  .page-section3__section3.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content; }
  
  .page-section3__block1 {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #3525b3, #b10135); 
  }
  
  .page-section3__block1.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 1px 0px 0px; }
    @media (max-width: 1199px) {
      .page-section3__block1.layout {
        margin: 5px 0px 0px; } }
  
  .page-section3__flex4 {
    display: flex; }
    @media (max-width: 767px) {
      .page-section3__flex4 {
        flex-wrap: wrap;
        row-gap: 16px; } }
  
  .page-section3__flex4.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 80.67%;
    margin: 34px auto; }
    @media (max-width: 1199px) {
      .page-section3__flex4.layout {
        width: 84.77%;
        margin: 30px auto; } }
    @media (max-width: 991px) {
      .page-section3__flex4.layout {
        width: 88.12%;
        margin: 25px auto; } }
    @media (max-width: 767px) {
      .page-section3__flex4.layout {
        width: 80%; /*90.82*/
        margin: 21px auto; } }
    @media (max-width: 575px) {
      .page-section3__flex4.layout {
        width: 80%; /*92.95*/
        margin: 19px auto; } }
    @media (max-width: 479px) {
      .page-section3__flex4.layout {
        width: 80%; /*94.62*/
        margin: 17px auto; } }
    @media (max-width: 383px) {
      .page-section3__flex4.layout {
        width: 80%; /*95.91*/
        margin: 15px auto; } }
  
  .page-section3__flex4-item {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 345px; }
    @media (max-width: 767px) {
      .page-section3__flex4-item {
        flex: 0 0 100%; } }
  
  .page-section3__flex5 {
    display: flex;
    flex-direction: column; }
  
  .page-section3__flex5.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 10px 0px 0px; }
    @media (max-width: 1199px) {
      .page-section3__flex5.layout {
        margin: 10px 0px 0px; } }
    @media (max-width: 991px) {
      .page-section3__flex5.layout {
        margin: 10px 0px 0px; } }
    @media (max-width: 767px) {
      .page-section3__flex5.layout {
        margin: 10px 0px 11px; } }
    @media (max-width: 575px) {
      .page-section3__flex5.layout {
        margin: 10px 0px 10px; } }
    @media (max-width: 479px) {
      .page-section3__flex5.layout {
        margin: 10px 0px 9px; } }
    @media (max-width: 383px) {
      .page-section3__flex5.layout {
        margin: 10px 0px 8px; } }
  
  @media (max-width: 1199px) {
    .page-section3__subtitle1-box {
      align-items: flex-start;
      justify-content: flex-start; } }
  
  @media (max-width: 991px) {
    .page-section3__subtitle1-box {
      align-items: flex-start;
      justify-content: flex-start; } }
  
  @media (max-width: 767px) {
    .page-section3__subtitle1-box {
      align-items: flex-start;
      justify-content: flex-start; } }
  
  @media (max-width: 575px) {
    .page-section3__subtitle1-box {
      align-items: flex-start;
      justify-content: flex-start; } }
  
  @media (max-width: 383px) {
    .page-section3__subtitle1-box {
      align-items: flex-start;
      justify-content: flex-start; } }
  
  .page-section3__subtitle1-box.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    /*width: 56.52%;
    margin: 0px 43.48% 0px 0%;*/ }
  
  .page-section3__subtitle1 {
    overflow: visible;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    font: 500 22px/1.2 "Tajawal", "Helvetica", "Roboto", Arial, serif;
    color: #fdfefe;
    letter-spacing: 0px;
    white-space: pre-wrap; }
    @media (max-width: 1199px) {
      .page-section3__subtitle1 {
        font-size: 21px;
        text-align: left; } }
    @media (max-width: 991px) {
      .page-section3__subtitle1 {
        font-size: 19px; } }
    @media (max-width: 767px) {
      .page-section3__subtitle1 {
        font-size: 18px;
      text-align: center; } }
    @media (max-width: 575px) {
      .page-section3__subtitle1 {
        font-size: 17px; } }
    @media (max-width: 383px) {
      .page-section3__subtitle1 {
        font-size: 16px; } }
  
  .page-section3__subtitle {
    font: 20px/1.2 "Tajawal", "Helvetica", "Roboto", Arial, serif;
    color: #fdfefe;
    letter-spacing: 0px; }
    @media (max-width: 1199px) {
      .page-section3__subtitle {
        font-size: 19px;
        text-align: left; } }
    @media (max-width: 991px) {
      .page-section3__subtitle {
        font-size: 18px; } }
    @media (max-width: 767px) {
      .page-section3__subtitle {
        font-size: 17px;
        text-align: center; } }
    @media (max-width: 479px) {
      .page-section3__subtitle {
        font-size: 16px; } }
  
  .page-section3__subtitle.layout {
    position: relative;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    margin: 19px 0px 0px; }
    @media (max-width: 1199px) {
      .page-section3__subtitle.layout {
        margin: 17px 0px 0px; } }
    @media (max-width: 991px) {
      .page-section3__subtitle.layout {
        margin: 14px 0px 0px; } }
    @media (max-width: 767px) {
      .page-section3__subtitle.layout {
        margin: 12px 0px 0px; } }
    @media (max-width: 575px) {
      .page-section3__subtitle.layout {
        margin: 11px 0px 0px; } }
    @media (max-width: 479px) {
      .page-section3__subtitle.layout {
        margin: 10px 0px 0px; } }
    @media (max-width: 383px) {
      .page-section3__subtitle.layout {
        margin: 9px 0px 0px; } }
  
  .page-section3__flex4-spacer {
    flex: 0 1 502px; }
    @media (max-width: 767px) {
      .page-section3__flex4-spacer {
        display: none; } }
  
  .page-section3__flex4-item1 {
    display: flex;
    flex-direction: column;
    position: relative;
    flex: 1 1 255px;
    align-items: end;
    justify-content: end; }
    @media (max-width: 767px) {
      .page-section3__flex4-item1 {
        flex: 0 0 100%; } }

  
    @media (max-width: 767px) {
      .page-section3__flex4-item1 {
        align-items: center; 
      } 
    }
  
  .page-section3__image {
    background: var(--src) right center/contain no-repeat; }
    @media (max-width: 767px) {
      .page-section3__image {
        background: var(--src) center center/contain no-repeat; } }
  
  .page-section3__image.layout {
    position: relative;
    height: 166px;
    width: 244px;
    /*margin: 0px 8px 18px 0px;*/ }
    @media (max-width: 1199px) {
      .page-section3__image.layout {
        /* margin: 0px 7px 16px 0px;  */
      } }
    @media (max-width: 991px) {
      .page-section3__image.layout {
        /* margin: 0px 6px 13px 0px;  */
      } }
    @media (max-width: 767px) {
      .page-section3__image.layout {
        /* margin: 0px 5px 11px;  */
      } }
    @media (max-width: 575px) {
      .page-section3__image.layout {
        /* margin: 0px 5px 10px;  */
      } }
    @media (max-width: 479px) {
      .page-section3__image.layout {
        /* margin: 0px 5px 9px;  */
      } }

input[type=text], input[type=tel], input[type=number], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1.7px solid #17202a;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-radius: 0;
}

input[type=submit] {
  background-color: white;
  color: #17202a;
  padding: 12px 20px;
  border: 1.7px solid #17202a;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #17202a;
  color: white;
}

#submit {
  background-color: white;
  color: #17202a;
  padding: 12px 20px;
  border: 1.7px solid #17202a;
  cursor: pointer;
  width: fit-content;
}

#submit:hover {
  background-color: #17202a;
  color: white;
}
  
.important {
  color: red;
}

.div__name {
  width: 47.5%;
}

.name__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 479px) {
  .div__name {
      width: 100%;
  }

  .name__wrapper {
      display: block;
  }
}

.error {
  color: red;
  font-size: 15px;
}

.ara__align {
  text-align: right;
}

p.ara__align {
  text-align: justify;
}

.highlight {
  background-image: linear-gradient(to right, #3525b3, #c11145); 
  color: white; 
  padding: 5px;
}

#city, #sector {
  height: 44px;
}

@media (max-width: 767px)  {
  .ara__center {
    text-align: center;
  }
}