html {
  font-family: 'Helvetica', sans-serif;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  margin-bottom: 15px;
}
h4 {
  font-size: 24px;
}
p {
  font-size: 16px;
}

#mask {
  z-index: 0;
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

#containerSnapScroll {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition-property: top, bottom;
    -webkit-transition-duration: 0.5s;
     -moz-property: top, bottom;
     -moz-duration: 0.5s;
      -ms-property: top, bottom;
      -ms-duration: 0.5s;
       -o-property: top, bottom;
       -o-duration: 0.5s;
        transition-property: top, bottom;
        transition-duration: 0.5s;
}

section {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.content {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding-top: 150px;
}

nav ul {
  z-index: 1;
  list-style: none;
  position: fixed;
  right: 30px;
  top: 40%;
}

nav ul li {
  background: white;
  opacity: 0.5;
  margin-bottom: 10px;
  height: 30px;
  width: 2px;
  border-radius: 8px;
  cursor: pointer;
}

.turquoise-bg {
  background: #1abc9c;
}

.carrot-bg {
  background: #e67e22;
}

.blue-bg {
  background: #2980b9;
}

.data_section {
  opacity: 0.2;
}

#data_section_0 {
  opacity: 0.6;
}